html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
@media screen and (max-width: 768px) {
    .slick-slide {
      width: 100%; /* Make slides take up full width */
    }
  
    .slick-prev,
    .slick-next {
      display: none; /* Hide navigation arrows on smaller screens */
    }
  
    /* Adjust other styles as needed for smaller screens */
  }
.scroll-to-top{
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
} 



  